.description{
    width: 62%;
    margin: 0 auto;
    text-align: center;
    padding: 3%;
    // border: 2px solid $borderColor;
}

.startScreen{
    position: relative;
}

.playButton{
    text-align: center;
    margin-top: 2%;
    i{
        font-size: 15rem;
        background-color: $backgroundColor;
        color: $textColor;
    }
    i:hover{
        color: $hoverColor;
    }
}

.socialMedia{
    position: fixed;
    right: 8%;
    bottom: 2.5%;
    i{
        font-size: 1.5rem;
        line-height: 1.8;
    }
}

.gameInterface{
    text-align: center;
    width: 100%;
    h4{
        margin: 5% 1% 1% 1%;
    }
}

.restart{
    font-size: 1.2rem;
    margin: 3%;
}

.arrows{
    position: relative;
    display: flex;
    justify-content: center;
}

.arrow{
    background: $backgroundColor;
    padding: 2% 5%;
    i{
        font-size: 15rem;
    }
}

.overlay{
    position: absolute;
}

// classes for js

.invisible{
    display: none;
}

.correct{
    color: $correctColor;
}

.incorrect{
    color:$incorrectColor;
}

.endingScreen,
.inbetweenLevel{
    text-align: center;
    z-index: 9;
    position: absolute;
    top: 50%;
    padding: 5%;
    background-color: $popupBackground;
    box-shadow: 20px 10px 5px $borderColor;
}

.endingScreen{
    left: 30%;
}

.inbetweenLevel{
    left: 20%;
}

.floatingCross{
    position:absolute;
    z-index: 99;
    
}