html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  height: 100vh;
  font-size: 62.5%;
  background: #ffcdb2;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  color: black;
}

h1 {
  font-size: 5rem;
  font-family: 'Walter Turncoat', cursive;
}

h2, h3, h4, p {
  font-family: 'Kreon', serif;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 2%;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.7rem;
  display: inline-block;
}

p {
  font-size: 1.3rem;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

a {
  color: black;
}

a:hover {
  color: #e5989b;
}

button {
  border: 0;
  padding: 0;
  background: #ffcdb2;
}

button:hover,
a:hover {
  cursor: pointer;
}

header {
  border-bottom: 5px dashed #b5838d;
}

header .wrapper {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description {
  width: 62%;
  margin: 0 auto;
  text-align: center;
  padding: 3%;
}

.startScreen {
  position: relative;
}

.playButton {
  text-align: center;
  margin-top: 2%;
}

.playButton i {
  font-size: 15rem;
  background-color: #ffcdb2;
  color: black;
}

.playButton i:hover {
  color: #e5989b;
}

.socialMedia {
  position: fixed;
  right: 8%;
  bottom: 2.5%;
}

.socialMedia i {
  font-size: 1.5rem;
  line-height: 1.8;
}

.gameInterface {
  text-align: center;
  width: 100%;
}

.gameInterface h4 {
  margin: 5% 1% 1% 1%;
}

.restart {
  font-size: 1.2rem;
  margin: 3%;
}

.arrows {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.arrow {
  position: absolute;
  background: #ffcdb2;
  padding: 2% 5%;
}

.arrow i {
  font-size: 15rem;
}

.invisible {
  display: none;
}

.correct {
  color: #70c1b3;
}

.incorrect {
  color: red;
}

.endingScreen {
  text-align: center;
  z-index: 99;
  position: absolute;
  left: 30%;
  top: 50%;
  padding: 5%;
  background-color: #ffb4a2;
  -webkit-box-shadow: 20px 10px 5px #b5838d;
          box-shadow: 20px 10px 5px #b5838d;
}
